# Visual Studio temporary files
.vs/
x64/
Debug/
Release/
*.user
*.aps
*.suo
*.exe
*.obj
*.pdb
*.idb
*.log
*.tlog

# Wyniki testów (opcjonalnie, jeœli nie chcesz ich wysy³aæ)
wyniki_raw/
wyniki_csv/
rozwiazanie.txt
temp_out.txt